# Dependencies
node_modules/
.next/
.env.local
.env

# Production
/build
/dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

xml_samples
